body {
  margin: 0;
  padding: 0;
  /* Image de fond globale */
  /*background-image: url('assets/cheeses/bg_full.jpg'); /* Adapte le chemin de ton image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Filtre sombre par défaut (Dark Mode) */
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay; /* Fusionne le filtre noir avec l'image */

  transition: background-color 0.3s ease; /* Transition douce lors du changement de thème */

  overflow: hidden;
}
